<!DOCTYPE html>
<html>
<head>
    <title>JobBook</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Find a Job</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Join Now</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </nav>
        
        <h1>HirePro- The perfect place to find your dream job</h1>
    </header>

    <div class="main">
    <div class="boxes">
        <section class="featured-jobs-container">
            <h1>Featured jobs</h1>
    <div class="job-card">
        <img src="p1.jpg">
        <h3>Data Scientist</h3>
        <button>Apply Now</button>
    </div>
    <div class="job-card">
        <img src="p2.jpg">
        <h3>Software Engineer</h3>
        <button>Apply Now</button>
    </div>
    <div class="job-card">
        <img src="p3.jpg">
        <h3>IT Specialist</h3>
        <button>Apply Now</button>
        </section>
    </div>
    </div>
    <footer>
        <p>Trusted by job holders from:</p>
        <ul>
            <li><img src="microsoft.jpg" alt="Microsoft Logo"></li>
            <li><img src="ibmlogo.png" alt="IBM Logo"></li>
            <li><img src="amazon.jpg" alt="Amazon Logo"></li>
            <li><img src="ebay.jpg" alt="eBay Logo"></li>
            <li><img src="dropbox.jpg" alt="Dropbox Logo"></li>
        </ul>
    </footer>
</body>
</html>